Repository lpoaura/GN2PG, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality, tooling

Improve tests
  gn2pg/database/tables.py
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/conftest.py
  tests/fixtures/db.py
  tests/test_check_conf.py
Labels: dependencies, quality, tooling

Update gitignore
  .gitignore
Labels: none

Update dependencies
  poetry.lock
Labels: dependencies

refactoring metadata export view
  data/source_samples/geonature_export_sinp_with_metadata_separated.sql
  gn2pg/store_postgresql.py
Labels: none

Secure log output (obfuscate sensitive data)
  gn2pg/check_conf.py
  tests/test_check_conf.py
Labels: quality

Process delete before update
  gn2pg/download.py
Labels: none

Update doc with xfer status description
  docs/usage/process.md
  gn2pg/utils.py
Labels: documentation

update views
  data/source_samples/geonature_export_metadata_only.sql
Labels: none

update changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

fix upserts
  CHANGELOG.md
  data/source_samples/geonature_export_sinp_with_metadata_separated.sql
  gn2pg/alembic/script.py.mako
  gn2pg/alembic/versions/20260902_02_add_not_nullable_constraint_on_import_.py
  gn2pg/alembic/versions/20260903_03_use_data_business_key.py
  gn2pg/database/tables.py
  gn2pg/store_postgresql.py
  tests/test_database.py
  tests/test_metadata.py
Labels: quality

update deps
  poetry.lock
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update version
  pyproject.toml
Labels: dependencies, tooling

.github/labeler.yml:

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*", ".github/labeler.yml"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["pyproject.toml", "poetry.lock"]
documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**/*"]

# packaging:
#   - changed-files:
#       - any-glob-to-any-file: ["requirements/packaging.txt", "setup.py"]

quality:
  - changed-files:
      - any-glob-to-any-file: ["tests/**/*"]

tooling:
  - changed-files:
      - any-glob-to-any-file:
          [".pre-commit-config.yaml", ".vscode/**/*", "pyproject.toml"]
