Repository lpoaura/GN2PG, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality, tooling

Update version
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, tooling

update changelog
  CHANGELOG.md
Labels: none

Update versions
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, tooling

fix Key name
  data/source_samples/geonature_export_sinp_with_metadata.sql
  gn2pg/data/to_gnsynthese.sql
Labels: none

update version
  CHANGELOG.md
  poetry.lock
Labels: dependencies

last changes
  CHANGELOG.md
  gn2pg/main.py
  gn2pg/store_postgresql.py
Labels: none

Update changelog
  CHANGELOG.md
Labels: none

Fix login error
  CHANGELOG.md
  gn2pg/api.py
  gn2pg/app/admin_views.py
  gn2pg/app/models.py
  gn2pg/download.py
  gn2pg/helpers.py
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po~
  gn2pg/store_postgresql.py
  gn2pg/utils.py
Labels: none

to release 1.9.0
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, tooling

tests
  tests/test_api.py
Labels: quality

fix #120
  CHANGELOG.md
  gn2pg/api.py
  gn2pg/download.py
  gn2pg/helpers.py
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po~
  gn2pg/store_postgresql.py
  pyproject.toml
Labels: dependencies, tooling

[logging] fix total data to import
  gn2pg/download.py
Labels: none

[to_gnsynthese] id_nomenclature_determination_method : fix source field name
  gn2pg/data/to_gnsynthese.sql
Labels: none

[docs] upgrade fix
  CHANGELOG.md
Labels: none

Rename config export_id value to data_export_id
  .pre-commit-config.yaml
  README.md
  docs/usage/howto.md
  gn2pg/check_conf.py
  gn2pg/data/gn2pgconfig.toml
  poetry.lock
  pyproject.toml
  tests/test_check_conf.py
Labels: dependencies, documentation, quality, tooling

WIP new export views
  data/source_samples/geonature_export_sinp_with_metadata_separated.sql
Labels: none

WIP tests
  tests/fixtures/check_conf.py
  tests/fixtures/db.py
  tests/fixtures/store_postgresql.py
  tests/test_check_conf.py
Labels: quality

Add metadata_export_id parameter
  gn2pg/check_conf.py
  gn2pg/data/gn2pgconfig.toml
  tests/test_check_conf.py
Labels: quality

export_id > data_export_id
  Makefile
  README.md
  docs/usage/howto.md
  gn2pg/api.py
  gn2pg/check_conf.py
  gn2pg/data/gn2pgconfig.toml
  tests/README.md
  tests/conftest.py
  tests/fixtures/check_conf.py
  tests/test_api.py
  tests/test_check_conf.py
Labels: documentation, quality

testing docker db
  .pre-commit-config.yaml
  compose.yaml
Labels: tooling

Comment SQL query sample
  data/source_samples/geonature_export_sinp_with_cd_nomenclature.sql
  data/source_samples/geonature_export_sinp_with_metadata.sql
Labels: none

Comment SQL query sample (fix #124)
  .env.sample
  CHANGELOG.md
  Makefile
  README.md
  data/source_samples/geonature_export_sinp_with_metadata_separated.sql
  docs/index.md
  docs/usage/howto.md
  gn2pg/api.py
  gn2pg/check_conf.py
  gn2pg/data/gn2pgconfig.toml
  gn2pg/data/to_gnsynthese.sql
  gn2pg/download.py
  gn2pg/store_postgresql.py
  poetry.lock
  pyproject.toml
  tests/scratch_login.py
  tests/test_api.py
  tests/test_check_conf.py
  tests/test_download.py
  tests/test_metadata.py
Labels: dependencies, documentation, quality, tooling

Update README, fix #137
  docs/usage/howto.md
Labels: documentation

Update README, fix #137
  README.md
Labels: none

WIP fix #135, manage multiple dataset protocols
  data/source_samples/geonature_export_sinp_with_metadata.sql
  data/source_samples/geonature_export_sinp_with_metadata_separated.sql
Labels: none

Get SQL messages
  gn2pg/store_postgresql.py
Labels: none

to_gnsynthese cleanup
  gn2pg/data/to_gnsynthese.sql
Labels: none

Better transactions using conn.begin()
  gn2pg/store_postgresql.py
  tests/test_metadata.py
Labels: quality

to SQLAlchemy 2 & alembic
  Makefile
  docs/usage/howto.md
  generate_revision.py
  gn2pg/alembic/env.py
  gn2pg/alembic/script.py.mako
  gn2pg/alembic/versions/20260818_01_initial_schema.py
  gn2pg/app/app.py
  gn2pg/app/config.py
  gn2pg/app/models.py
  gn2pg/database/__init__.py
  gn2pg/database/migrations.py
  gn2pg/database/tables.py
  gn2pg/main.py
  gn2pg/store_postgresql.py
  poetry.lock
  pyproject.toml
  tests/test_database.py
  tests/test_main.py
Labels: dependencies, documentation, quality, tooling

Fix workflow error
  .github/workflows/checks.yml
Labels: ci-cd

Fix logging
  gn2pg/api.py
  gn2pg/app/config.py
  gn2pg/check_conf.py
  gn2pg/download.py
  gn2pg/helpers.py
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po~
  gn2pg/main.py
  gn2pg/store_postgresql.py
Labels: none

Fix to much verbosity
  gn2pg/store_postgresql.py
Labels: none

Limit SQL error output size
  gn2pg/store_postgresql.py
Labels: none

Manage update "since" (fix #133)
  docs/usage/howto.md
  gn2pg/helpers.py
  gn2pg/main.py
  gn2pg/utils.py
  tests/test_helpers.py
  tests/test_main.py
Labels: documentation, quality

set empty json object on 'null' values for additional_data (Fix #128)
  gn2pg/data/to_gnsynthese.sql
Labels: none

Manage meta_validation_date value (fix #131)
  data/source_samples/geonature_export_sinp_with_cd_nomenclature.sql
  data/source_samples/geonature_export_sinp_with_metadata.sql
  data/source_samples/geonature_export_sinp_with_metadata_separated.sql
  gn2pg/data/to_gnsynthese.sql
Labels: none

Improve HTTP requests process
  gn2pg/api.py
  gn2pg/check_conf.py
  gn2pg/data/gn2pgconfig.toml
  gn2pg/download.py
  tests/test_api.py
  tests/test_check_conf.py
  tests/test_download.py
Labels: quality

WIP improve download process
  docs/usage/howto.md
  gn2pg/alembic/versions/20260827_01_download_page.py
  gn2pg/alembic/versions/20260827_02_payload_hash.py
  gn2pg/api.py
  gn2pg/check_conf.py
  gn2pg/data/gn2pgconfig.toml
  gn2pg/data/to_gnsynthese.sql
  gn2pg/database/migrations.py
  gn2pg/database/tables.py
  gn2pg/download.py
  gn2pg/helpers.py
  gn2pg/main.py
  gn2pg/store_postgresql.py
  gn2pg/utils.py
  tests/test_api.py
  tests/test_check_conf.py
  tests/test_database.py
  tests/test_download.py
  tests/test_helpers.py
  tests/test_main.py
Labels: documentation, quality

Exclude unused value for AF UUID
  data/source_samples/geonature_export_sinp_with_metadata_separated.sql
Labels: none

Update pytest
  poetry.lock
  pyproject.toml
Labels: dependencies, tooling

.github/labeler.yml:

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*", ".github/labeler.yml"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["pyproject.toml", "poetry.lock"]
documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**/*"]

# packaging:
#   - changed-files:
#       - any-glob-to-any-file: ["requirements/packaging.txt", "setup.py"]

quality:
  - changed-files:
      - any-glob-to-any-file: ["tests/**/*"]

tooling:
  - changed-files:
      - any-glob-to-any-file:
          [".pre-commit-config.yaml", ".vscode/**/*", "pyproject.toml"]
