Repository lpoaura/GN2PG, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality, tooling

.github/labeler.yml:

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*", ".github/labeler.yml"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["pyproject.toml", "poetry.lock"]
documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**/*"]

# packaging:
#   - changed-files:
#       - any-glob-to-any-file: ["requirements/packaging.txt", "setup.py"]

quality:
  - changed-files:
      - any-glob-to-any-file: ["tests/**/*"]

tooling:
  - changed-files:
      - any-glob-to-any-file:
          [".pre-commit-config.yaml", ".vscode/**/*", "pyproject.toml"]

update docs workflow
  .github/workflows/documentation.yml
  .readthedocs.yml
  CHANGELOG.rst
  MANIFEST.in
  README.rst
Labels: ci-cd

update docs workflow
  pyproject.toml
Labels: dependencies, tooling

fix releaser location
  .github/workflows/releaser.yml
Labels: ci-cd

update workflow icons
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
Labels: ci-cd

Update publish.yml
  .github/workflows/publish.yml
Labels: ci-cd

update deps
  gn2pg/app/templates/index.html
  poetry.lock
  pyproject.toml
  pytest.ini
Labels: dependencies, tooling

update deps
  .env.sample
  .flaskenv
  .pre-commit-config.yaml
  docs/development/environment.md
  gn2pg/app/templates/admin/master.html
  gn2pg/store_postgresql.py
  gn2pg/utils.py
  install/01_set_config_htaccess.sh
  install/assets/gn2pg_apache.conf
  install/assets/gn2pg_virtualhost.conf
  install/settings.ini.sample
  install/utils
  poetry.lock
  pyproject.toml
  tests/README.md
  tests/conftest.py
  tests/fixtures/check_conf.py
  tests/fixtures/models.py
  tests/test_download.py
Labels: dependencies, documentation, quality, tooling

update precommit file
  .pre-commit-config.yaml
Labels: tooling

rm requirements.txt
  requirements.txt
Labels: none

black apply
  gn2pg/api.py
  gn2pg/app/config.py
  gn2pg/app/env.py
  gn2pg/app/models.py
  gn2pg/download.py
Labels: none

fix #65
  gn2pg/store_postgresql.py
Labels: none

update VERSION
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, tooling

Fix typo on comment_occurrence
  data/source_samples/geonature_export_sinp_with_metadata.sql
  gn2pg/data/to_gnsynthese.sql
Labels: none

new release 1.6.4
  CHANGELOG.md
  gn2pg/metadata.py
  pyproject.toml
Labels: dependencies, tooling

fix #73, fix trigger to populate additional data
  gn2pg/data/to_gnsynthese.sql
Labels: none

update version
  CHANGELOG.md
Labels: none

fix version
  pyproject.toml
Labels: dependencies, tooling

update synthese with nomenclatures view for more af metadata
  data/source_samples/geonature_export_sinp_with_metadata.sql
Labels: none

update synthese with nomenclatures view for more ds metadata
  data/source_samples/geonature_export_sinp_with_metadata.sql
Labels: none

fix pagination calculation (fix #81)
  CHANGELOG.md
  gn2pg/api.py
  gn2pg/metadata.py
  pyproject.toml
  tests/test_api.py
Labels: dependencies, quality, tooling

update deps
  poetry.lock
Labels: dependencies

Add missing fonctions for metadata
  gn2pg/data/to_gnsynthese.sql
Labels: none

Add missing volet sinp on AF
  data/source_samples/geonature_export_sinp_with_metadata.sql
Labels: none

add pgFormatter on pre-commit
  .pre-commit-config.yaml
  data/source_samples/geonature_export_sinp_with_cd_nomenclature.sql
  data/source_samples/geonature_export_sinp_with_metadata.sql
  gn2pg/data/to_gnsynthese.sql
Labels: tooling

add missing voletsinp & keywords
  gn2pg/data/to_gnsynthese.sql
Labels: none

fix #87
  gn2pg/data/to_gnsynthese.sql
Labels: none

update changelog
  CHANGELOG.md
  gn2pg/__init__.py
  gn2pg/data/__init__.py
  gn2pg/helpers.py
  gn2pg/store_postgresql.py
  poetry.lock
Labels: dependencies

update changelog
  CHANGELOG.md
Labels: none

fix #92, fix missing many to many values
  CHANGELOG.md
  gn2pg/data/to_gnsynthese.sql
Labels: none

update version
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, tooling

fix #94, change __name__ to __package__
  CHANGELOG.md
  gn2pg/helpers.py
  pyproject.toml
Labels: dependencies, tooling

fix missing file
  gn2pg/store_postgresql.py
Labels: none

release 1.6.9
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, tooling

update metadata
  gn2pg/metadata.py
Labels: none

fix #97
  gn2pg/data/to_gnsynthese.sql
Labels: none

fix #96
  .pre-commit-config.yaml
  docs/usage/howto.md
Labels: documentation, tooling

fix doc formatting
  docs/usage/process.md
Labels: documentation

code quality
  gn2pg/__init__.py
  gn2pg/helpers.py
  gn2pg/store_postgresql.py
Labels: none

apply pg_format pre-commit
  gn2pg/data/to_gnsynthese.sql
Labels: none

update dependencies
  poetry.lock
  pyproject.toml
Labels: dependencies, tooling
