Repository lpoaura/GN2PG, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality, tooling

cleanup docker compose version
  CHANGELOG.md
  docker-compose.debug.yml
  docker-compose.yml
Labels: none

WIP fix pylint on python 3.9
  .github/workflows/checks.yml
  poetry.lock
  pyproject.toml
Labels: ci-cd, dependencies, tooling

fix pylint error on python 3.9
  gn2pg/helpers.py
  gn2pg/store_postgresql.py
Labels: none

fix to_gnsynthese.sql script
  gn2pg/data/to_gnsynthese.sql
Labels: none

final fix for #110
  gn2pg/data/to_gnsynthese.sql
Labels: none

Fix doc URL
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

WIP manage commands
  gn2pg/app/config.py
  gn2pg/check_conf.py
  gn2pg/env.py
  gn2pg/helpers.py
  gn2pg/main.py
  tests/fixtures/check_conf.py
Labels: quality

Restructure CLI
  CHANGELOG.md
  Makefile
  docs/usage/howto.md
  gn2pg/check_conf.py
  gn2pg/helpers.py
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po~
  gn2pg/main.py
  pyproject.toml
Labels: dependencies, documentation, tooling

add new python versions
  .github/workflows/checks.yml
Labels: ci-cd

remove python 3.14 check
  .github/workflows/checks.yml
Labels: ci-cd

update translations and docs
  docs/development/packaging.md
  docs/development/translation.md
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po~
  gn2pg/main.py
Labels: documentation

[docs] update python minimal version
  docs/usage/install.md
Labels: documentation

update doc
  docs/development/environment.md
  docs/development/testing.md
Labels: documentation

fix #99, hide db password
  gn2pg/check_conf.py
Labels: none

WIP logging
  gn2pg/check_conf.py
  gn2pg/download.py
  gn2pg/helpers.py
  gn2pg/logger.py
  gn2pg/main.py
  gn2pg/store_postgresql.py
Labels: none

fix #109, log files and stdout are the same, except tracebacks
  gn2pg/__init__.py
  gn2pg/check_conf.py
  gn2pg/download.py
  gn2pg/helpers.py
  gn2pg/logger.py
  gn2pg/main.py
  gn2pg/store_postgresql.py
Labels: none

Error management
  gn2pg/main.py
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  poetry.lock
  pyproject.toml
Labels: dependencies, tooling

WIP retry after fail
  gn2pg/api.py
  gn2pg/download.py
Labels: none

Update lock
  poetry.lock
Labels: dependencies

better error management
  gn2pg/api.py
  gn2pg/download.py
  gn2pg/helpers.py
  gn2pg/locale/en_US/LC_MESAGES/gn2pg.po
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po~
  gn2pg/store_postgresql.py
Labels: none

Manage properly version
  gn2pg/__init__.py
  gn2pg/metadata.py
Labels: none

code cleanup and update docs
  CONTRIBUTING.md
  Makefile
  README.md
  data/source_samples/geonature_export_sinp_with_metadata.sql
  docs/conf.py
  docs/development/gn2pg.md
  docs/index.md
  gn2pg/__init__.py
  gn2pg/data/to_gnsynthese.sql
  gn2pg/download.py
  gn2pg/main.py
  gn2pg/metadata.py
  poetry.lock
  pyproject.toml
  tests/test_download.py
  tests/test_main.py
Labels: dependencies, documentation, quality, tooling

Add unique constraint on uuid
  CHANGELOG.md
  gn2pg/data/to_gnsynthese.sql
  gn2pg/download.py
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po~
  gn2pg/store_postgresql.py
  pyproject.toml
Labels: dependencies, tooling

Fix check error
  gn2pg/main.py
Labels: none

fix badge
  README.md
Labels: none

fix_trigger
  gn2pg/data/to_gnsynthese.sql
Labels: none

v1.8.1
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, tooling

fix md formatting
  CHANGELOG.md
Labels: none

Store metadata in a specific table (WIP #116)
  gn2pg/store_postgresql.py
Labels: none

WIP fix #111
  docs/_static/gn2pg_import_models.png
  docs/usage/howto.md
  gn2pg/api.py
  gn2pg/app/admin_views.py
  gn2pg/app/app.py
  gn2pg/app/models.py
  gn2pg/download.py
  gn2pg/helpers.py
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po
  gn2pg/locale/fr_FR/LC_MESSAGES/gn2pg.po~
  gn2pg/main.py
  gn2pg/store_postgresql.py
  tests/fixtures/models.py
  tests/test_download.py
Labels: documentation, quality

WIP fix #111
  gn2pg/download.py
  gn2pg/store_postgresql.py
  gn2pg/utils.py
Labels: none

Refactoring code
  gn2pg/app/admin_views.py
  gn2pg/app/app.py
  gn2pg/app/config.py
  gn2pg/download.py
  gn2pg/store_postgresql.py
Labels: none

update version
  pyproject.toml
Labels: dependencies, tooling

update deps
  poetry.lock
Labels: dependencies

Update changelog
  CHANGELOG.md
Labels: none

update README.md
  README.md
Labels: none

Manage metadata triggers from metadata_json table
  gn2pg/data/to_gnsynthese.sql
Labels: none

FIX106 & FIX107
  data/source_samples/geonature_export_sinp_with_metadata.sql
  gn2pg/data/to_gnsynthese.sql
Labels: none

.github/labeler.yml:

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*", ".github/labeler.yml"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["pyproject.toml", "poetry.lock"]
documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**/*"]

# packaging:
#   - changed-files:
#       - any-glob-to-any-file: ["requirements/packaging.txt", "setup.py"]

quality:
  - changed-files:
      - any-glob-to-any-file: ["tests/**/*"]

tooling:
  - changed-files:
      - any-glob-to-any-file:
          [".pre-commit-config.yaml", ".vscode/**/*", "pyproject.toml"]
